*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.D1
{
    /*background: url(blue-wallpaper-background.jpg);*/
    background-size: cover;
    /* overflow: hidden; */
    background-repeat: no-repeat;
    font-size: 12px;
}

*/
/*the section below is the nav bar*/
.D1 h1
{
    margin-top: 10px;
    margin-left: 30px
}
.D1 h1 img
{
    width: 100%;
    height: 50px;
    box-shadow: rgb(64, 21, 21);
    margin-left: 20px
}
.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    background-color: black;
    list-style-type: none;
    gap: 20px;
    position: fixed;
    width: 100%;
    position: relative;
    height: 40%;
}
/* nav ul li */
/* { */
    /* list-style-type: none; */
    /* display: inline-block; */
    /* padding: 10px 20px; */
/* } */

/* navigation edit | start */



/* navigation edit | end */

nav ul li a
{
    color: rgb(233, 224, 99);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover
{
    color: rgb(245, 242, 242);
    transition: .4s;
}
nav ul li a.active {
    
    color: rgb(251, 251, 4);
  }
button
{
    border: none;
    background: #1d165c;
    margin-right: 40px;
    padding: 12px 30px;
    border-radius:  30px;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: auto;
}
button:hover{
     transform: scale(1.3);

}
button a {
    text-decoration: none;
    color: rgb(248, 248, 235);
}
a{
    font-size: 20px;
}
#A1, #A2{
    font-size: 15px;
    color: rgb(243, 242, 246);
}
#A1:active, #A2:active{
    color: rgb(14, 14, 244);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: auto;
} 

nav > ul > li > a {
    text-decoration: none;
}



@media (max-width: 719px)
{
 
    button:hover
    {
        transform: scale(1.1);
    }
    
    nav
    {
        background-color: rgb(19, 19, 49);
    }

}

.hambuger {
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.hambuger-bar {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}



@media (max-width: 846px) {

    .header {
        background-color: rgb(19, 19, 49);
    }

    /* nav style | contains the ul list and the subscribe button | style starts here */
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        /* bottom: 0; */
        width: 100%;
        height: max-content;
        z-index: 99999999;
        background-color: rgba(19, 19, 49, 0.829);
        margin-block: 20px;
    }

    /* mobile navigation style | "false" when nav is closed */
    nav[data-visible="false"]  {
        display: none;
        top: -76px;
    }

    nav[data-visible="false"] ~ .hambuger > .bar2   {
        transition:all .3s ease-in-out;
    }
    /* mobile navigation style | "true" when nav is open */
    nav[data-visible="true"] {
        display: flex;
        transition: all 2s ease-in-out;
        top: 76px;
    }

    /* hambuger bars animation starts here */
    nav[data-visible="true"] ~ .hambuger > .bar1 {
        transform: rotate(45deg) translateY(6px);
    }

    /* middle bar disappears when nav open and reappeared when nav closed  */
    nav[data-visible="true"] ~ .hambuger > .bar2 {
        display: none;
        transform: translate(30px);
    }

    nav[data-visible="true"] ~ .hambuger > .bar3 {
        transform: rotate(-45deg) translateY(-5px);
    }
    /* hambuger bars animation ends here */

    /* changes style of nav on small screens  */
    nav > ul {
        flex-direction: column;
        width: 100%;
        margin: 0;
        text-align: center;
        gap: 0;
    }
    
    nav > ul > li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.205);
        padding-block: 20px;
    }

    button {
       margin: 0; 
       margin-block: 20px;
    }

    .hambuger {
        display: block;
    }
    /* nav style | contains the ul list and the subscribe button | style ends here*/

    .D1 {
        overflow: none;
    }
}